

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #5e9cc0;
    box-sizing: border-box;
}

.container{

    padding-top: 100px;

}

form{

    background-color: white;
    box-shadow: 0 0 6px 0 rgba(255,255,255, 0.8);
    border-radius: 10PX;
    color: #999;
    font-size: 1.4em;
    padding: 10PX;
    margin: 0 auto;
    width: 600px;
   


}


label{
    
    font-size:15px ;
    padding-top:20px;
    margin-left: 15px;
}


input,textarea{
    
    width: 100%;
    border: 0;
    outline: none;
}


input[type="number"]
{
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}

.field{
    
    border:solid 0.1px rgb(226, 226, 226);
    padding: 15px;
    width: 550px;
    margin-left: 15px;
    color: rgb(44, 44, 44);
    
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    padding-top: 10px;
    text-align: center;
}

.center-content button{
    font-size: 28px;
}

#title_form{

    margin-top: 30px;
    text-align: center;
    color:rgb(66, 123, 187);
}

#title_form h3{

    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#title_form img{
    padding: 10px;
}

/*Movil pequeño*/

/*
@media screen and (max-width:360px){

    .container{

        padding-top: 20px;
    
    }


    form{
        
        font-size: 1.2em;
        margin: 0 auto;
        width: 345px;
        margin-left:-5px ;
       
    
    }
    
    
    .field{
        
        width: 295px;

        
    }
    
  

  }
*/
  /*Movil medio*/

  /*
  @media screen and (max-width:375px){

    .container{

        padding-top: 20px;
    
    }


    form{
        
        font-size: 1.2em;
        margin: 0 auto;
        width: 362px;
        margin-left:-5px ;
       
    
    }
    
    
    .field{
        
        width: 315px;

        
    }


    
  

  }
*/

/*Movil grande*/
@media screen and (min-width:760px){

    .container{

        padding-top: 20px;
    
    }


    form{
        
        font-size: 1.2em;
        margin: 0 auto;
        width: 730px;
        margin-left:-105px ;
       
    
    }
    
    
    .field{
        
        width: 680px;

        
    }
    
  

  }

/*Movil grande*/

/*
  @media screen and (max-width:720px){

    .container{

        padding-top: 20px;
    
    }


    form{
        
        font-size: 1.2em;
        margin: 0 auto;
        width: 700px;
        margin-left:-90px ;
       
    
    }
    
    
    .field{

        padding: 15px;
        width: 650px;
        margin-left: 15px;
        color: rgb(44, 44, 44);
        
    }

 
  

  }

  */